<a [routerLink]="['/articles']">Retour !</a>
<div *ngIf="isLoading">Chargement en cours ...</div>

<div *ngIf="!isLoading">
  <h1>{{ article?.titre }}</h1>

  <img src="{{ article?.image }}">

  <div>{{ article?.description }}</div>
</div>
