<h1>Ajouter un nouvel article</h1>

<div *ngIf="isLoading">Chargement en cours ...</div>

<div *ngIf="!isLoading">
<form #form="ngForm" (ngSubmit)="submitForm()">
  <div>
    <label for="nom">Nom</label><br>
    <input required  #nom="ngModel"
           name="titre" [(ngModel)]="article.titre"
           type="text" id="nom" placeholder="Nom de l'article">
    <div *ngIf="!nom.valid" class="error">Le champ nom n'est pas valide !</div>
  </div>
  <div>
    <label for="description">Description</label><br>
    <input #description="ngModel" required minlength="10" name="description"
           [(ngModel)]="article.description" type="text"
           id="description" placeholder="Description de l'article">
    <div *ngIf="!description.valid" class="error">Le champ description n'est pas valide !</div>
  </div>
  <div>
  <label for="image">Image</label><br>
  <input #image="ngModel" name="image" [(ngModel)]="article.image"
         type="text" id="image" placeholder="Image de l'article"> <br>
    <div *ngIf="!image.valid" class="error">Le champ description n'est pas valide !</div>

    <input [disabled]="!form.valid" type="submit"/>
  </div>
</form>

</div>
