<h1>Tous les articles en base de données !</h1>

<div *ngIf="isLoading">Chargement en cours ...</div>

<table *ngIf="!isLoading">
  <thead>
    <th>Id</th>
    <th>Titre</th>
    <th>Action</th>
  </thead>

  <tbody>
    <tr *ngFor="let article of articles">
      <td>{{ article.id }}</td>
      <td>{{ article.titre }}</td>
      <td>
        <button [routerLink]="['/articles/', article.id]">Voir l'article {{ article.titre }}</button>
        <br>
        <button *ngIf="article" (click)="deleteArticle(article.id)">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>
